@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;;
}
.nav-bar {
    width: 100%;
    height: 10vh;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    
}
.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.product-color {
    width: fit-content;
}
.product-cart {
    display: flex;
    margin-top: 15px;
}
.product-cart button {
    border: none;
    background-color: #44319b;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding: 1em;
    margin-right: 1em;
}
.product-cart .cart {
    border: 1px solid #44319b;
    padding: 1em;
    border-radius: 5px;
}
.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
.disabledButton {
    background-color: #d8d8d8 !important;
}
.outOfStock {
    text-decoration: line-through;
}